nav{
    text-align: center;
    
}
h1{
    text-align: center;
}
.container2{
    float:right;
}
.btn1{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
    
    
}


.btn2{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
    
    
}
.btn3{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
    
    
}
.btn4{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
.btn5{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
.btn6{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
.btn7{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
.btn8{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
.container1{
    float:right;
}

.container5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.container7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}
.container8{
    float:right;
}
.container10{
    float: right;
} 

 
 .btn9{
    color:white;
    background-color: black;
    border-radius: 50px;
    height: 160px;
    width:160px;
    padding: 10px;
    text-decoration: none;
}
p{
    
}